:root {
  --ff-primary: 'Lato', sans-serif;
  --ff-header: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
  font-weight: 100;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
}

main {
  min-height: 85vh;
}

// Utilities
.wrapper {
  width: calc(min(90vw, 70rem));
}

.ml-auto {
  margin-left: auto !important;
}

// Navbar
.navbar-brand {
  font-family: var(--ff-header);
  font-weight: 100;
  letter-spacing: 5px;
}

.navbar-link {
  color: #999 !important;

  &:hover {
    color: #fff !important;
  }
}

// Menu
.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  & .card-title {
    background: #000;

    & > h3 {
      color: #fff;
      line-height: 1;
      margin: 0.5rem 1rem;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

// Footer
.footer-link {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
